.icon-border{
    border-radius: 10% !important;
}
.testimonialp{
    font-style: italic !important;
}
.card{
    border-radius:10px !important ;
}
.h5{
    font-size:20px !important;
}
.a{
    color: white !important;
}